{{define "tile"}}
  {{range index . "Tiles"}}
        <div class="row featurette">
          <div class="col-md-7">
          {{with .Name}}
            <h2 class="featurette-heading">{{.}}<span class="text-muted">It'll blow your mind.</span></h2>
          {{else}}
            <h2 class="featurette-heading">First Featurette Heading.<span class="text-muted">It'll blow your mind.</span></h2>
          {{end}}
          {{with .Desc}}
            <p class="lead">{{.}}</p>
          {{else}}
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          {{end}}
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">
      {{end}}
{{end}}